@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>


<address>
    288 Stanley St.<br />
    Barrie, ON L4MDDD<br />
    <abbr title="Phone">P:</abbr>
    705.555.2424
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>